*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-content: center ;
    padding: 10px 5%;
    border-bottom: 1px solid #776e6e;
}
.marca{
    margin: auto;
}

.marca h1{

    font-size: 10px;
    padding: 10px 10px;

}

nav{
    margin: auto;
}

li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    

}
a{
   font-size: 14px;
   text-decoration: none;
   text-transform: capitalize; 
   color: rgb(97, 108, 170);
   transition: all 0.3s;
   font-weight: 700;
}

a:hover{
    color:coral;
}
.logo{
    width: 100px;
    cursor: pointer;
    
}
.boton{
    margin: auto;
    background-color: crimson;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
}
.boton:hover{
    background-color: rgb(101, 38, 143);
    color: white;
}
header .marca{
    order: 0;
    flex-shrink: 3;
}
header nav{
order: 1;
flex-shrink: 3;
}

header .boton{
    order: 2;
    flex-shrink: 2;
}





/* Aqui empieza el contenido */




section{
    padding: 10px 5%;
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    float: left;
}

section div h2{
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
}

section h2{
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
    font-family: 'Bangers', cursive;

}

section .equipo{
    display: flex;
    justify-content: center;
    padding: 20px 1%;
    
}

section .equipo div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 200px;
    height: 423px;
    margin: 5px 10px;
    border-radius: 40px;
    box-shadow: 17px 14px 27px #222227;
    transition: all 0.3s;

    
   
}

section .equipo div:hover{
    float: left;
    width:300px;
    height: 500px;
    padding: 20px;

    margin: 5px 10px;
    border-radius: 40px;
    overflow:hidden;
}

section .descripcion p{
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
}

section .equipo div h3{
    text-align: center;
    font-family: 'Langar', cursive;

}
section .equipo div p{
    text-align: center;
    
}



section .equipo div:nth-child(odd){
    
    background: #776e6e;
}

section .equipo div:nth-child(even){
    
    background: #833939;
}
section .equipo div figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}


section .equipo div figure img{
   width: 70%;
   padding-bottom: 20px;
   border-radius: 50px;

}


section .equipo div figure figcaption{
    align-self: center;
}





/* --------------------ASIDE ----------------------------------*/


aside{
    width: 17%;
    float: left;
    display: flex;
    flex-direction: column;
    
}

aside h3, h4, a, p{
    text-align: center;
    padding: 10px;

}

aside h3,h4{
    font-size: 25px;

}

aside a{
    font-size: 20px;
    font-family: 'Bangers', cursive;
}


aside p{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

footer{

}

